@import url(m_style.css);
.container,
body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.1 {
  -webkit-box-flex: 1;
}
.container {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.container .header {
  width: 100%;
  height: 0.88rem;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  background: url("../img/3_5img/header.png") no-repeat;
  line-height: 0.88rem;
}
.container .header h3 {
  -webkit-box-flex: 1;
  margin-left: 2.3rem;
  font-size: 0.33rem;
  color: #fff;
  font-weight: normal;
}
.container .header a img {
  width: 0.35rem;
  margin-left: 0.4rem;
}
.container .section {
  -webkit-box-flex: 1;
}
.container .section .photo {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 1.2rem;
  background: #ffffff;
  line-height: 1.2rem;
  border-bottom: 1px solid #ccc;
}
.container .section .photo h4 {
  -webkit-box-flex: 1;
  margin-left: 0.4rem;
  font-size: 0.26rem;
  font-weight: normal;
}
.container .section .photo a img {
  width: 0.9rem;
  margin-right: 0.4rem;
}
.container .section .p1 {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 0.94rem;
  background: #ffffff;
  border-bottom: 1px solid #ccc;
  line-height: 0.88rem;
  font-size: 0.26rem;
}
.container .section .p1 p {
  margin-left: 0.4rem;
  -webkit-box-flex: 1;
}
.container .section .p1 a {
  margin-right: 0.4rem;
  color: #999999;
}
.container .section .p1 span {
  color: #999999;
}
.container .section .p1 h6 {
  width: 0.12rem;
  height: auto;
  margin-right: 0.4rem;
}
.container .section .p1 h6 img {
  width: 0.13rem;
}
.container .footer {
  width: 100%;
  height: 5.4rem;
  background: #eeeeee;
}
.container {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.container .header1 {
  width: 100%;
  height: 4.6rem;
  background: none;
  background: url(../img/3_6_1img/bg1.png) no-repeat;
  background-size: 7.5rem ;
}
.container .header1 .top {
  width: 100%;
  height: 0.9rem;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  line-height: 0.9rem;
}
.container .header1 .top p {
  -webkit-box-flex: 1;
}
.container .header1 .top p a {
  font-size: 0.3rem;
  color: #fff;
  margin-left: 0.4rem;
}
.container .header1 .top p a img {
  width: 0.35rem;
}
.container .header1 .top h3 {
  font-size: 0.3rem;
  display: inline-block;
  color: #fff;
  font-weight: normal;
  margin-right: 0.4rem;
}
.container .header1 .center {
  width: 100%;
  height: 1.07rem;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  line-height: 1.07rem;
}
.container .header1 .center p {
  font-size: 0.28rem;
  -webkit-box-flex: 1;
  margin-left: 1.18rem;
}
.container .header1 .center p a {
  font-size: 0.3rem;
  color: #fff;
}
.container .header1 .center1 {
  width: 100%;
  height: 0.58rem;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.container .header1 .center1 p {
  line-height: 0.58rem;
  font-size: 0.28rem;
  -webkit-box-flex: 1;
  margin-left: 1.18rem;
}
.container .header1 .center1 p a {
  font-size: 0.55rem;
  color: #fff;
}
.container .header1 .bottom {
  width: 100%;
  height: 1.3rem;
  background: none;
  margin-top: 0.75rem;
  position: relative;
  border-top: 1px solid #fb7c88;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  text-align: center;
}
.container .header1 .bottom .xxx {
  position: fixed;
  right: 1.33rem;
  top: 3.24rem;
}
.container .header1 .bottom h3 {
  font-size: 0.26rem;
  color: #fff;
  font-weight: normal;
  margin-top: 0.26rem;
  -webkit-box-flex: 1;
}
.container .header1 .bottom h3 p {
  font-size: 0.3rem;
  margin-top: 0.13rem;
}
.container .header1 .bottom h4 {
  margin-top: 0.26rem;
  font-size: 0.26rem;
  color: #fff;
  font-weight: normal;
  -webkit-box-flex: 1;
}
.container .header1 .bottom h4 p {
  font-size: 0.3rem;
  margin-top: 0.13rem;
}
.container .header1 .bottom .jiao {
  position: absolute;
  right: 1.71rem;
  bottom: 0;
}
.container .section {
  overflow: auto;
  -webkit-box-flex: 1;
  width: 100%;
  height: auto;
  background: #cccccc;
}
.container .section .main {
  width: 100%;
  height: 1.33rem;
  background: #ffffff;
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.container .section .main h3 {
  -webkit-box-flex: 1;
}
.container .section .main h3 img {
  width: 1.15rem;
  margin-left: 0.4rem;
  display: inline-block;
  margin-top: -0.4rem;
}
.container .section .main h3 span {
  width: 2.3rem;
  display: inline-block;
  margin-left: 0.4rem;
}
.container .section .main h3 span a {
  display: inline-block;
}
.container .section .main h4 {
  margin-top: 0.45rem;
  margin-right: 0.4rem;
}
.zhezhao {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
}
.zhezhao .kuang {
  width: 4.5rem;
  height: 2.4rem;
  background: #ffffff;
  border-radius: 0.15rem;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -2.25rem;
  margin-top: -3.25rem;
}
.zhezhao .kuang p {
  height: 0.8rem;
  width: 3.5;
  line-height: 0.8rem;
  border-bottom: 1px solid #eeeeee;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}
.container {
  background: #f3f3f3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.container .section33 {
  -webkit-box-flex: 1;
}
.container .section33 .photo {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 0.85rem;
  background: #ffffff;
  margin-top: 0.12rem;
  line-height: 0.85rem;
  border-bottom: 1px solid #f5f5f5;
}
.container .section33 .photo h4 {
  -webkit-box-flex: 1;
  margin-left: 0.4rem;
  font-size: 0.28rem;
  font-weight: normal;
}
.container .section33 .photo a {
  margin-right: 0.4rem;
}
.container .section33 .photo a img {
  height: 0.22rem;
}
.container .section33 .p {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 0.9rem;
  background: #ffffff;
  line-height: 0.9rem;
  border-bottom: 1px solid #f5f5f5;
}
.container .section33 .p h4 {
  -webkit-box-flex: 1;
  margin-left: 0.4rem;
  font-size: 0.28rem;
  font-weight: normal;
}
.container .section33 .p a {
  margin-right: 0.4rem;
}
.container .section33 .p a img {
  height: 0.22rem;
}
.container .footer3 {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 8.45rem;
  background: #f3f3f3;
}
.container .footer3 h3 {
  width: 6.7rem;
  height: 0.9rem;
  background: none;
  margin-top: 2.57rem;
  text-align: center;
  line-height: 0.9rem;
  background: url(../img/3_3_1/huabu.png) no-repeat;
  -webkit-box-flex: 1;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  font-size: 0.3rem;
  color: #fff;
  font-weight: normal;
  border-radius: 0.1rem;
}
.da {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
}
.da .zhao {
  width: 4.5rem;
  height: 2.4rem;
  background: #ffffff;
  border-radius: 0.15rem;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -2.25rem;
  margin-top: -3.25rem;
}
.da .zhao h3 {
  text-align: center;
  font-weight: normal;
  margin-top: 0.65rem;
  color: #333333;
  font-size: 0.28rem;
}
.da .zhao .two {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  margin-top: 0.5rem;
  height: 0.9rem;
  border-top: 1px solid #f5f5f5;
}
.da .zhao .two h2 {
  -webkit-box-flex: 1;
  text-align: center;
  line-height: 0.9rem;
  font-weight: normal;
  font-size: 0.27rem;
}
.container {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.container .section333 {
  -webkit-box-flex: 1;
}
.container .section333 p {
  color: #999999;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  margin-top: 0.7rem;
  line-height: 0.38rem;
  font-size: 0.28rem;
}
.container .section333 form {
  margin-top: 1.2rem;
  margin-left: 0.4rem;
  color: #999999;
  height: 0.65rem;
  line-height: 0.65rem;
  border-bottom: 1px solid #ededed;
  margin-right: 0.4rem;
}
.container .section333 form input {
  border: none;
  font-size: 0.28rem;
  background: #f3f3f3;
  margin-left: 0.3rem;
}
.container .section333 h3 {
  font-weight: normal;
  font-size: 0.26rem;
  margin-left: 0.4rem;
  height: 0.88rem;
  line-height: 0.88rem;
  border-bottom: 2px solid #fabd6d;
  margin-right: 0.4rem;
}
.container .section333 h3 input {
  font-size: 0.22rem;
  margin-left: 0.3rem;
  border: none;
  background: #f3f3f3;
  color: #b2b2b2;
}
.container .section333 h4 {
  font-weight: normal;
  font-size: 0.26rem;
  margin-left: 0.4rem;
  height: 0.9rem;
  line-height: 0.9rem;
  border-bottom: 1px solid #ededed;
  margin-right: 0.4rem;
}
.container .section333 h4 input {
  font-size: 0.22rem;
  margin-left: 0.3rem;
  border: none;
  background: #f3f3f3;
  color: #b2b2b2;
}
.container .footer333 {
  width: 100%;
  height: 7rem;
  background: #f3f3f3;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.container .footer333 h3 {
  margin-top: 2.11rem;
  width: 6.7rem;
  height: 0.9rem;
  background: none;
  background: url(../img/3_3_1/tuichu.png) no-repeat;
  border-radius: 0.1rem;
  -webkit-box-flex: 1;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  text-align: center;
  line-height: 0.9rem;
  font-size: 0.31rem;
  color: #fff;
  font-weight: normal;
}
.zindex {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
}
.zindex .three {
  width: 4.5rem;
  height: 2.4rem;
  background: #ffffff;
  border-radius: 0.15rem;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -2.25rem;
  margin-top: -3.25rem;
}
.zindex .three p {
  width: 4.1rem;
  margin-left: 0.3rem;
  font-size: 0.26rem;
  margin-top: 0.26rem;
  line-height: 0.36rem;
  color: #666666;
}
.zindex .three form {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  height: 0.5rem;
  line-height: 0.5rem;
  margin-top: 0.2rem;
  border-bottom: 2px solid #ffc272;
}
.zindex .three form input {
  border: none;
  color: #cccccc;
  text-indent: 0.8rem;
}
.zindex .three h3 {
  margin-left: 0.95rem;
  display: inline-block;
  margin-top: 0.2rem;
  font-weight: normal;
}
.zindex .three h4 {
  display: inline-block;
  margin-left: 1.66rem;
  margin-top: 0.2rem;
  font-weight: normal;
  color: #f9384b;
}
.container {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.container .header10 {
  width: 100%;
  height: 0.9rem;
  background: none;
  background: url(../img/3_10_2_2/huabu.png) no-repeat;
  background-size: 7.5rem ;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  line-height: 0.9rem;
}
.container .header10 h3 {
  margin-left: 0.4rem;
}
.container .header10 h3 img {
  width: 0.35rem;
  height: auto;
  background: none;
}
.container .header10 p {
  width: 5.6rem;
  height: 0.58rem;
  background: none;
  margin-left: 0.33rem;
  margin-right: 0.8rem;
  margin-top: 0.13rem;
  line-height: 0.58rem;
  border: 1px solid #fff;
  border-radius: 0.07rem;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-flex: 1;
}
.container .header10 p a {
  font-size: 0.33rem;
  display: block;
  -webkit-box-flex: 1;
  text-align: center;
  color: #fff;
}
.container .main {
  -webkit-box-flex: 1;
}
.container .main .a {
  width: 100%;
  height: 0.6rem;
  background: #eeeeee;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  padding-top: 0.2rem;
}
.container .main .a a {
  font-size: 0.28rem;
  color: #fff;
  -webkit-box-flex: 1;
  display: block;
  width: 1.52rem;
  height: 0.46rem;
  background: #cccccc;
  text-align: center;
  border-radius: 0.17rem;
  margin-right: 0.18rem;
}
.container .main .text {
  width: 7.1rem;
  height: 0.88rem;
  background: none;
  margin-left: 0.18rem;
  background: #ffffff url(../img/3_10_2_2/10shai.png) no-repeat 0.22rem center;
  background-size: 0.3rem;
  margin-bottom: 0.2rem;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.container .main .text a {
  font-size: 0.27rem;
  display: inline-block;
  line-height: 0.88rem;
}
.container .main .text img {
  width: 0.16rem;
  height: auto;
  background: none;
  margin-left: 0.14rem;
  margin-top: -0.13rem;
}
.container .main .main1 {
  width: 100%;
  height: 1.78rem;
  background: #ffffff;
  border-bottom: 1px solid #ccc;
}
.container .main .main1 p {
  padding-top: 0.25rem;
  margin-left: 0.4rem;
  text-indent: 0.4rem;
  height: 0。77rem;
  background: url(../img/a66.png) no-repeat left center;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: block;
}
.container .main .main1 p a {
  display: block;
  -webkit-box-flex: 1;
}
.container .main .main1 p a span {
  font-size: 0.21rem;
}
.container .main .main1 p b {
  font-size: 0.2rem;
  display: inline-block;
  margin-top: 0.1rem;
  margin-left: -0.4rem;
  font-weight: normal;
}
.container .main .main1 p.ppp {
  -webkit-box-flex: 1;
  display: inline-block;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.container .main .main1 p.ppp.aaaa {
  float: right;
  display: inline-block;
}
.container .main .main1 .ling {
  width: 6.25rem;
  height: 0.9rem;
  background: none;
  margin-left: 0.8rem;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.container .main .main1 .ling h4 {
  font-size: 0.23rem;
  -webkit-box-flex: 1;
  font-weight: normal;
  color: #cdcdcd;
}
.container .main .main1 .ling h6 {
  font-size: 0.24rem;
  font-weight: normal;
  width: 1.3rem;
  height: 0.7rem;
  background: #f9384b;
  text-align: center;
  line-height: 0.7rem;
  color: #fff;
  margin-top: 0.2rem;
}
.container .main .main2 {
  width: 100%;
  height: 1.78rem;
  background: #ffffff;
  border-bottom: 1px solid #ccc;
}
.container .main .main2 p {
  padding-top: 0.25rem;
  margin-left: 0.4rem;
  text-indent: 0.4rem;
  height: 0。77rem;
  background: url(../img/a66.png) no-repeat left center;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: block;
}
.container .main .main2 p a {
  display: block;
  -webkit-box-flex: 1;
}
.container .main .main2 p a span {
  font-size: 0.21rem;
}
.container .main .main2 p b {
  font-size: 0.2rem;
  display: inline-block;
  margin-top: 0.1rem;
  margin-left: -0.4rem;
  font-weight: normal;
}
.container .main .main2 p.ppp {
  -webkit-box-flex: 1;
  display: inline-block;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.container .main .main2 p.ppp.aaaa {
  float: right;
  display: inline-block;
}
.container .main .main2 .ling {
  width: 6.25rem;
  height: 0.9rem;
  background: none;
  margin-left: 0.8rem;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.container .main .main2 .ling h4 {
  font-size: 0.23rem;
  -webkit-box-flex: 1;
  font-weight: normal;
  color: #cdcdcd;
}
.container .main .main2 .ling h6 {
  font-size: 0.24rem;
  font-weight: normal;
  width: 1.3rem;
  height: 0.7rem;
  background: #f9384b;
  text-align: center;
  line-height: 0.7rem;
  color: #fff;
  margin-top: 0.2rem;
}
.container .footer {
  width: 100%;
  height: 2.88rem;
  background: #eeeeee;
}
