@import url(reset.css);
html,
body,
.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.f1 {
  -webkit-box-flex: 1;
}
.cen {
  -webkit-box-align: center;
}
.container {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.container .header {
  width: 100%;
  height: 0.88rem;
  background: null;
  background: url(../img3/1_t.png) no-repeat;
  background-size: 100% auto;
  text-align: center;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
}
.container .header .boult {
  width: auto;
  height: 0.35rem;
  background: null;
  margin-left: 0.4rem;
  -webkit-box-flex: 1;
}
.container .header .title {
  -webkit-box-flex: 1;
  font-size: 0.35rem;
  margin-left: -0.8rem;
  color: #fff;
}
.container .main {
  overflow: auto;
  -webkit-box-flex: 1;
  background: #eeeeee;
}
.container .main .main-top {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
  width: 100%;
  height: 0.65rem;
  background: none;
}
.container .main .main-top .message a {
  margin-left: .7rem;
  font-size: .22rem;
  color: #acacac;
}
.container .main .main-top .message a b {
  font-size: .26rem;
  color: #333333;
}
.container .main .main-bottom {
  width: 6.7rem;
  height: auto;
  background: #ffffff;
  margin-left: 0.4rem;
}
.container .main .main-bottom .top {
  width: 6rem;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  margin-left: .35rem;
  position: relative;
  padding: 0.95rem 0 0.3rem;
  border-bottom: 1px solid #d9d9d9;
}
.container .main .main-bottom .top .surname {
  font-size: 0.27rem;
  color: #999999;
  margin-left: 0.35rem;
}
.container .main .main-bottom .top .name {
  -webkit-box-flex: 1;
  font-size: .3rem;
  color: #333333;
  margin-left: .32rem;
}
.container .main .main-bottom .top .map img {
  width: auto;
  height: 0.4rem;
  background: none;
  margin-right: .35rem;
}
.container .main .main-bottom .top .map .x1 {
  width: auto;
  height: 0.22rem;
  background: none;
  position: absolute;
  top: 1.05rem;
  right: 0.1rem;
}
.container .main .main-bottom .top .map .x2 {
  width: auto;
  height: 0.22rem;
  background: none;
  position: absolute;
  top: 1.05rem;
  right: 0.1rem;
}
.container .main .main-bottom .top1 {
  width: 6rem;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  margin-left: .35rem;
  padding: 0.5rem 0 0.3rem;
  border-bottom: 1px solid #d9d9d9;
}
.container .main .main-bottom .top1 .status {
  font-size: 0.27rem;
  color: #999999;
  margin-left: 0.35rem;
}
.container .main .main-bottom .top1 .num {
  -webkit-box-flex: 1;
  font-size: 0.3rem;
  color: #333333;
  margin-left: 0.32rem;
}
.container .main .main-bottom .top2 {
  width: 6rem;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  position: relative;
  margin-left: .35rem;
  padding: 0.5rem 0 0.3rem;
  border-bottom: 1px solid #d9d9d9;
}
.container .main .main-bottom .top2 .status {
  font-size: 0.27rem;
  color: #999999;
  margin-left: 0.35rem;
}
.container .main .main-bottom .top2 .num {
  -webkit-box-flex: 1;
  font-size: 0.3rem;
  color: #333333;
  margin-left: 0.56rem;
}
.container .main .main-bottom .top2 .verify img {
  width: auto;
  height: 0.6rem;
  background: none;
}
.container .main .main-bottom .top2 span {
  position: absolute;
  top: 0.58rem;
  right: .13rem;
  font-size: 0.24rem;
  color: #ffffff;
}
.container .main .main-bottom .top3 {
  width: 6rem;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  position: relative;
  margin-left: .35rem;
  padding: 0.5rem 0 0.3rem;
}
.container .main .main-bottom .top3 .status {
  font-size: 0.27rem;
  color: #999999;
  margin-left: 0.35rem;
}
.container .main .main-bottom .top3 .sf {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.container .main .main-bottom .top3 .sf .text2 {
  -webkit-box-flex: 1;
  width: 1.4rem;
  height: 0.6rem;
  background: #f9f9f9;
  margin-left: .7rem;
  border: none;
  text-indent: .95rem;
  font-size: 0.26rem;
}
.container .main .main-bottom .top4 {
  width: 6rem;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  position: relative;
  margin-left: .35rem;
  padding: 0.5rem 0 0.3rem;
  border-bottom: 1px solid #d9d9d9;
}
.container .main .main-bottom .top4 .status {
  font-size: 0.27rem;
  color: #999999;
  margin-left: 0.35rem;
}
.container .main .main-bottom .top4 .text {
  width: 2.28rem;
  height: 0.6rem;
  background: none;
  border: 1px solid #cccccc;
  border-radius: 0.04rem;
  margin-left: 0.5rem;
  margin-top: -0.3rem;
  font-size: .32rem;
  text-align: center ;
  color: #999999;
}
.container .main .site {
  margin-left: .4rem;
  width: 6.7rem;
  height: auto;
  background: #ffffff;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: .2rem;
}
.container .main .site textarea {
  width: 3.57rem;
  height: 1.5rem;
  background: #f9f9f9;
  margin-left: 2.5rem;
  border: none;
  color: #cccccc;
  font-size: .24rem;
}
.container .main .tel {
  width: 6.7rem;
  height: auto;
  background: #ffffff;
  position: relative;
  padding: 0.3rem 0 1.7rem;
  margin-left: .4rem;
}
.container .main .tel a {
  position: absolute;
  top: .3rem;
  right: .3rem ;
  text-decoration: underline;
  color: #a2c6f8;
  font-size: .24rem;
}
.container .footer {
  background: #eee;
  position: relative;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.container .footer .map3 {
  -webkit-box-flex: 1;
}
.container .footer .map3 img {
  width: 6.7rem;
  height: 0.88rem;
  background: none;
  margin-left: .4rem;
}
.container .footer .affirm {
  position: absolute;
  top: .2rem;
  left: 3.3rem;
}
.container .footer .affirm a {
  color: #fff;
  font-size: .3rem;
}
.container {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.container .header1 {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
  width: 100%;
  height: 0.88rem;
  background: null;
  background: url(../img3/1_t.png) no-repeat;
  background-size: 100% auto;
  text-align: center;
}
.container .header1 .head {
  width: auto;
  height: 0.35rem;
  background: null;
  margin-left: 0.4rem;
}
.container .header1 h6 {
  -webkit-box-flex: 1;
  font-size: 0.35rem;
  margin-left: -0.8rem;
}
.container .header1 h6 a {
  color: #fff;
}
.container .main1 {
  overflow: auto;
  -webkit-box-flex: 1;
  background: #f3f3f3;
}
.container .main1 .icon {
  margin: .5rem 0 .4rem .4rem;
}
.container .main1 .icon h4 {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  font-size: 0.32rem;
}
.container .main1 .icon h4 p {
  width: 0.33rem;
  height: 0.34rem;
  background: none;
  border: 1px solid #323232;
  border-radius: 50%;
  color: #323232;
  margin-top: 0.05rem;
  margin-right: 0.05rem;
  text-align: center;
  line-height: .34rem;
  font-size: 0.26rem;
}
.container .main1 .icon .p {
  margin-right: .4rem;
  color: #9c9c9c;
  margin-left: .42rem;
  font-size: 0.26rem;
}
.container .main1 .foot {
  text-align: center;
  color: 0.24rem;
  color: #9c9c9c;
}
.container .main1 .foot a {
  font-size: .24rem;
  color: #b0b0b0;
}
.footer5 {
  width: 100%;
  height: 0.98rem;
  background: #e4e4e4;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
}
.footer5 .photo-album {
  margin-left: .25rem ;
}
.footer5 .photo-album img {
  width: auto;
  height: 0.5rem;
  background: none;
}
.footer5 form {
  -webkit-box-flex: 1;
  margin-left: .1rem;
}
.footer5 form .import {
  width: 5.5rem;
  height: 0.6rem;
  background: #ffffff;
  outline: none;
  border-radius: right.05rem;
  border: none;
}
.footer5 .submit {
  margin: .1rem .28rem 0 0;
  font-size: .3rem;
  position: relative;
}
.footer5 .submit .setting {
  width: auto;
  height: 0.6rem;
  background: #ffffff;
}
.footer5 .submit .but {
  position: absolute;
  top: .07rem;
  right: .08rem;
}
.footer5 .submit .but a {
  color: #fff;
}
.main23 {
  background: #eeeeee;
}
.main23 .main1-top {
  text-align: center;
  margin-top: 1.33rem;
}
.main23 .main1-top .log img {
  width: 1.6rem;
  height: 1.6rem;
  background: #eeeeee;
  border-radius: 100%;
}
.main23 .main1-top .spread {
  font-size: 0.3rem;
}
.main23 .main1-center .complaint {
  width: 6.6rem;
  height: 0.88rem;
  background: #ffffff;
  margin-left: .4rem;
  border-bottom: 1px solid #CCCCCC;
  border-radius: 0.08rem;
  font-size: .3rem;
  text-indent: .4rem;
  line-height: .88rem;
}
.main23 .main1-center .examine {
  width: 6.6rem;
  height: 0.88rem;
  background: #ffffff;
  margin-left: .4rem;
  border-radius: 0.08rem;
  font-size: .3rem;
  line-height: .88rem;
  text-indent: .4rem;
}
.main23 .main1-bottom .deal {
  -webkit-box-pack: center;
  padding-top: .6rem;
  font-size: .25rem;
  margin-left: 1.3rem;
}
.main23 .main1-bottom .deal b {
  color: #66a4ea;
}
.main23 .main1-bottom .copyright {
  -webkit-box-flex: 1;
  margin-top: .2rem;
  margin-left: 2.8rem;
  padding-bottom: 10rem;
}
.main23 .main1-bottom .copyright a {
  color: #9c9c9c;
  font-size: .24rem;
}
.main8 {
  overflow: auto;
  -webkit-box-flex: 1;
  background: #eeeeee;
}
.main8 .main-top {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
  width: 100%;
  height: 0.86rem;
  background: none;
}
.main8 .main-top .message a {
  margin-left: .7rem;
  font-size: .22rem;
  color: #acacac;
}
.main8 .main-top .message a b {
  font-size: .26rem;
  color: #333333;
}
.main8 .main-bottom {
  width: auto;
  height: auto;
  background: #ffffff;
}
.main8 .main-bottom .top {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  position: relative;
  padding: 0.36rem 0 0.3rem;
  border-bottom: 1px solid #d9d9d9;
}
.main8 .main-bottom .top .surname {
  font-size: 0.27rem;
  color: #999999;
  margin-left: .4rem;
}
.main8 .main-bottom .top .name {
  -webkit-box-flex: 1;
  font-size: .3rem;
  color: #333333;
  margin-left: 1.14rem;
}
.main8 .main-bottom .top .map img {
  width: auto;
  height: 0.4rem;
  background: none;
  margin-right: .35rem;
}
.main8 .main-bottom .top .map .x1 {
  width: auto;
  height: 0.22rem;
  background: none;
  position: absolute;
  top: 0.45rem;
  right: .08rem;
}
.main8 .main-bottom .top .map .x2 {
  width: auto;
  height: 0.22rem;
  background: none;
  position: absolute;
  top: 0.45rem;
  right: .08rem;
}
.main8 .main-bottom .top1 {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  padding: 0.3rem 0 0.3rem;
}
.main8 .main-bottom .top1 .status {
  font-size: 0.27rem;
  color: #999999;
  margin-left: 0.4rem;
}
.main8 .main-bottom .top1 .num {
  -webkit-box-flex: 1;
  font-size: 0.3rem;
  color: #333333;
  margin-left: 1.14rem;
}
.main8 .main-bottom .top2 {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  background: #f3f3f3;
  position: relative;
  padding: 0.3rem ;
  -webkit-box-align: center;
}
.main8 .main-bottom .top2 .st {
  -webkit-box-flex: 1;
  font-size: 0.27rem;
  color: #999999;
}
.main8 .main-bottom .top2 .n {
  -webkit-box-flex: 1;
  font-size: 0.22rem;
  color: #ff9914;
  margin-left: 2.46rem;
}
.main8 .main-bottom .top2 .verify {
  width: auto;
  height: 0.6rem;
  background: none;
}
.main8 .main-bottom .top2 span {
  position: absolute;
  top: 0.6rem;
  right: 0.1rem;
  font-size: 0.25rem;
  color: #ffffff;
}
.main8 .main-bottom .top-1 {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  padding: 0.3rem 0 0.3rem;
  border-bottom: 1px solid #d9d9d9;
}
.main8 .main-bottom .top-1 .status {
  font-size: 0.27rem;
  color: #999999;
  margin-left: 0.4rem;
}
.main8 .main-bottom .top-1 .num {
  -webkit-box-flex: 1;
  font-size: 0.3rem;
  color: #333333;
  margin-left: 1.14rem;
}
.main8 .main-bottom .top-2 {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  padding: 0.3rem 0 0.3rem;
  border-bottom: 1px solid #d9d9d9;
}
.main8 .main-bottom .top-2 .ttt img {
  width: 0.42rem;
  height: auto;
  background: none;
  margin-left: .5rem;
}
.main8 .main-bottom .top-2 .yx {
  -webkit-box-flex: 1;
  margin-left: .2rem;
}
.main8 .main-bottom .top-2 .jt img {
  width: 0.2rem;
  height: auto;
  background: #ff0000;
  margin-right: .4rem;
}
.main8 .main-bottom .top3 {
  width: 6rem;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  position: relative;
  margin-left: .35rem;
  padding: 0.5rem 0 0.3rem;
}
.main8 .main-bottom .top3 .status {
  font-size: 0.27rem;
  color: #999999;
  margin-left: 0.35rem;
}
.main8 .main-bottom .top3 .sf {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.main8 .main-bottom .top3 .sf .text2 {
  -webkit-box-flex: 1;
  width: 1.4rem;
  height: 0.6rem;
  background: #f9f9f9;
  margin-left: .7rem;
  border: none;
  text-indent: .95rem;
  font-size: 0.26rem;
}
.main8 .main-bottom .top4 {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  position: relative;
  padding: 0.5rem 0 0.3rem;
  border-bottom: 1px solid #d9d9d9;
}
.main8 .main-bottom .top4 .status {
  font-size: 0.27rem;
  color: #999999;
  margin-left: 0.35rem;
}
.main8 .main-bottom .top4 .verify1 {
  -webkit-box-flex: 1;
}
.main8 .main-bottom .top4 .verify1 .text {
  width: 2.75rem;
  height: 0.5rem;
  background: none;
  border: 1px solid #cccccc;
  border-radius: 0.2rem;
  margin-left: 0.55rem;
  font-size: .32rem;
  text-align: center ;
  color: #999999;
}
.main8 .main-bottom .top4 .yz {
  width: 1.5rem;
  height: auto;
  background: none;
  background: url(../img3/1_ju.png) no-repeat;
  background-size: 100% auto;
  margin-right: .4rem;
  text-align: center;
  line-height: .5rem;
  border-radius: 0.11rem;
  font-size: .24rem;
  color: #fff;
}
.main8 .tel {
  width: 6.7rem;
  height: auto;
  background: #ffffff;
  position: relative;
  padding: 0.3rem 0 1.45rem;
  margin-left: .4rem;
}
.main8 .tel a {
  position: absolute;
  top: .3rem;
  right: .3rem ;
  text-decoration: underline;
}
.footer2 {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.footer2 .ye {
  margin-left: .4rem;
}
.footer2 .ye img {
  width: 3rem;
  height: auto;
  background: none;
  margin-top: .1rem;
}
.footer2 .yy {
  -webkit-box-flex: 1;
  font-size: .3rem;
  margin-top: .1rem;
  color: #fcac59;
}
.footer3 {
  position: relative;
}
.footer3 .bj {
  width: auto;
  height: 0.88rem;
  background: none;
  margin: .63rem 0 0 1.8rem ;
}
.footer3 .clip {
  position: absolute;
  top: .78rem;
  left: 3.2rem;
  font-size: .3rem;
}
.footer3 .clip a {
  color: #fff;
}
.header-last {
  width: 100%;
  height: 0.88rem;
  background: #ffffff;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
}
.header-last .arrows img {
  width: 0.35rem;
  height: auto;
  background: none;
  margin-left: .4rem;
}
.header-last .long-string img {
  width: auto;
  height: 0.5rem;
  background: none;
  margin-left: .22rem;
}
.header-last h4 {
  -webkit-box-flex: 1;
  margin-left: .22rem;
  font-size: .3rem;
}
.header-last .mark img {
  width: 0.35rem;
  height: auto;
  background: none;
  margin-right: .4rem;
}
.main-last {
  background: #EEEEEE;
  -webkit-box-flex: 1;
}
.main-last .top-last {
  width: null;
  height: 1rem;
  background: #ffffff;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
  margin: .2rem;
}
.main-last .top-last img {
  width: 0.45rem;
  height: auto;
  background: #ffffff;
  margin-left: .3rem;
  margin-top: .05rem;
}
.main-last .top-last h5 {
  font-size: .26rem;
  -webkit-box-flex: 1;
  margin-left: .35rem;
}
.main-last .top-last .arrows-right img {
  width: 0.17rem;
  height: auto;
  background: #919191;
  margin-right: .2rem;
}
.main-last .bottom-last {
  width: 100%;
  height: auto;
  background: #ffffff;
}
.main-last .bottom-last p {
  padding: .2rem 0 .4rem .4rem;
  font-size: .26rem;
}
.main-last .bottom-last .money {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  border-bottom: 1px solid #CCCCCC;
  width: 6.7rem;
  height: 0.7rem;
  background: #ffffff;
  margin-left: .4rem;
}
.main-last .bottom-last .money h6 {
  font-size: .36rem;
}
.main-last .bottom-last .money h5 {
  font-size: .24rem;
  -webkit-box-flex: 1;
  margin-left: 2.18rem;
  color: #666;
  margin-top: .1rem;
}
.main-last .bottom-last .balance {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  padding: .3rem;
}
.main-last .bottom-last .balance h2 {
  font-size: .25rem;
  margin-left: .4rem;
}
.main-last .bottom-last .balance h2 b {
  color: #f9384b;
}
.main-last .bottom-last .balance h1 {
  -webkit-box-flex: 1;
  text-align: right;
  color: #8cb8ee;
  font-size: .24rem;
}
.footer-last {
  width: 6.7rem;
  height: 0.88rem;
  background: #ff0000;
  margin-top: .9rem;
  background: url(../img3/hhh.png) no-repeat;
  background-size: 100% auto;
  margin-left: .4rem;
  border-radius: .05rem;
  text-align: center;
  line-height: .75rem;
  font-size: .26rem;
}
.footer-last a {
  color: #ffffff;
}
